@import url('https://rsms.me/inter/inter.css');

* {
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-size: 1rem;
  width: 1000px;
  margin: 0 auto 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #999;
}
